import %workspace%/tools/bazel_/preset.bazelrc

# General

## Rules
# Java
common --noincompatible_no_rule_outputs_param

# Server
startup --host_jvm_args=-Xmx1024m

# Rule Sets

# Files
import %workspace%/tools/file/files.bazelrc

# Other

try-import %workspace%/.bazelrc.user
